<% content_for :head do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOAgUCn6GQzKlnMwFmO2kBvG_S3JRD38&libraries=places&sensor=false" %>
<% end %>
<div id="map-container">
  <div id="zoom-control">
    <div id="search">

      <input type="text" class="form-control" id="autocomplete" placeholder="Enter a location to zoom in"><span class="glyphicon glyphicon-search"></span>
    </div>
    <button id="zoom-out" class="btn btn-default zoom">-</button>
    <button id="zoom-in" class="btn btn-default zoom">+</button>
    <button id="reset-map" class="btn btn-default zoom">Reset Map</button>

  </div>

  <!-- <div id="marker-animation"></div> -->
  <div id="content-window" class="animated slideOutRight">
    <span class="marker-content">x</span>
    <h1 id="marker-title" class="marker-content"></h1>
    <div id="marker-description" class="marker-content"></div>
    <div id="marker-url" class="marker-content"></div>
    <div id="marker-tags"></div>
    <div id="images-window">
      <div id="carousel">
        <ul id="marker-images" class="marker-content"></ul>
        <i class="carousel-controls fa fa-chevron-left" id="previous"></i>
        <i class="carousel-controls fa fa-chevron-right" id="next"></i>
      </div>
    </div>
  </div><!-- content window -->
  <div id="map-canvas">
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    initialize();
    fetchIssues();
    addAutocomplete();
  });
</script>