<% content_for :head do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOAgUCn6GQzKlnMwFmO2kBvG_S3JRD38&libraries=places&sensor=false" %>
<% end %>
<div id="map-container">
	<div id="content-window" class="animated slideOutRight">
		<h1 id="marker-title" class="marker-content"></h1>
		<div id="marker-description" class="marker-content"></div>
		<div id="marker-url" class="marker-content"></div>
    <div id="marker-images" class="marker-content"><%= image_tag @asset.image.url %></div>
	</div>
  <div id="map-canvas">
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    initialize();
    fetchIssues();
  });
</script>