<% content_for :head do %>
	<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOAgUCn6GQzKlnMwFmO2kBvG_S3JRD38&libraries=places&sensor=false" %>
<% end %>
<div id="map-container">
	<div id="map-canvas"/>
</div>

<div id="info-content">
	<h2 id="iw-title"></h2>
	<p id="iw-description"></p>
	<p id="iw-url"></p>
</div>

<script type="text/javascript">
	var markers = <%= @markers %>
	$(document).ready(function(){
		initialize();
	});
</script>