// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { height: 100% }
body { height: 100%; margin: 0; padding: 0px; background:#000000; color:#fff; }

.alert {
	margin-top:60px;
}

form {
	padding:10px;
}

.carousel-controls {
  position: absolute;
  left: 10px;
  top: 40%;
  /*width: 40px;*/
  /*height: 40px;*/
  /*color: #ffffff;*/
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
  /*background: #222222;*/
  /*border: 3px solid #ffffff;*/
  /*opacity: 0.5;*/
  /*border-radius: 23px;*/
  z-index: 5;
  /*text-decoration: none;*/
    color:red;
  font-size:40px;
}
#next {
  right: 15px;
  left: auto;

}

span {
	color: #00ADEF;
	cursor:pointer;
	padding:10px;
	position:relative;
}


#form-button {
	width: 100%;
	margin-top: 20px;
}

#marker-tags {
	color: #000;

}
.tags {
	background: #fff;
	margin: 5px;
	min-width:100px;
	display:inline-block;
}

#reset-map:hover {
	text-decoration:underline;
}
a:hover {
	color: #2B4C7E;

}

#autocomplete {
	margin:5px auto;
	width: 100%;
	padding: 5px;
	margin-bottom: 15px;
	background-color: #000;

}

#search {
	width: 400px;
	z-index:3;
}

#marker-animation {
	height:40px;
	width:40px;
	background: red;
	position: fixed;
	top: 397px;
	left:448px;
	z-index:4;
}

#content-window {
	position:fixed;
	right:0px;
	height:70%;
	width: 55%;
	background: rgba(0,0,0, 0.6);
	z-index:100000;
	display:none;
	border: solid 1px #00ADEF;
	border-right:none;
	margin-top: 40px;
	color:#fff;
	padding: 10px;
}

#error_explanation li {
	background: #E03838;
	width: 80%;
	color: #ffffff;
	margin:5px auto;
}

#error_explanation h2 {
	display:none;
}

.marker-content {
	padding: 5px 10px;
	
}

#images-window {
  position: relative;
  width: 100%;
  height: 233px;
  margin: auto;
  overflow: hidden;
}

#marker-images {
  position: absolute;
  display: inline-block;
  width: 2400px;
  height: 100%;
}

#map-container {
	height: 100%;
	width: 100%;
	background: #000;
}

#map-canvas { height: 100% }

#form-container {
	padding: 10px 20px;
	float:left;
	min-width: 400px;
	background:#0A1C28;
	border-right: #00ADEF solid 1px;
	color: #fff;
}

#zoom-control {
	position:fixed;
	left:10px;
	top:80px;
	z-index:2;
}

.zoom:hover {
	background: #0A1C28;
}

#nav-margin {
	margin-top: 55px;
}

.alert {
	margin: 0;
	padding: 0;
}


#map-container-form {
	height: 100%;
	width: 80%;
}
#map-canvas-form { height: 100% }

#icon {
	background:red;
	height:30px;
	width:30px;
	border-radius: 15px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
    line-height: 28px;
}

ul {
	margin:0 auto;
	padding:10px;
	max-width:1000px;
}
nav {
	position: fixed;
	width: 100%;
	height: 60px;
	left: 0;
	top: 0;
	z-index: 100;
	margin:0;
	background: #000;
	border-bottom: solid 1px #00ADEF;
}

li {
	display:inline-block;
	padding:8px;
	min-width: 80px;
	border-radius:5px;
	text-align:center;
}



a {
	color: #fff;
}

ul li {
	background: #000;
	color: #00ADEF;
}
ul li a:visited {
	color: #00ADEF;
}

nav a {
	text-decoration:none;
	font-size:14px;
}

#right-nav {
	margin-right: 140px;
	display:inline-block;
	float:right;
	padding:0;
	margin:0;
}
#left-nav {
	margin-left: 140px;
	display:inline-block;
	padding:0;
	margin:0;
}

nav ul li {
	padding:20px;
}

nav ul li:hover, nav ul li a:hover {
	background: #0A1C28;
}



