// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { height: 100% }
body { height: 100%; margin: 0; padding: 0px }

#map-container {
	height: 100%;
	width: 100%;
}

#map-canvas { height: 100% }

#info-content {
	height: 200px;
	width: 400px;
}

#map-container-form {
	height: 100%;
	width: 80%;
}
#map-canvas-form { height: 100% }

#icon {
	background:red;
	height:30px;
	width:30px;
	border-radius: 15px;
}

ul {
	margin:0 auto;
	padding:10px;
	max-width:900px;
}
nav {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	margin:0;
	/*padding:3px;*/
	background: #000;
	border-bottom: solid 2px #fff;
}

li {
	display:inline-block;
	background: #fff;
	padding:12px;
	min-width: 80px;
	margin-left: 20px;
	border-radius:5px;
	text-align:center;

}

li a {
	text-decoration:none;
	color: #000;
}
