// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { height: 100% }
body { height: 100%; margin: 0; padding: 0px }

.alert {
	margin-top:60px;
}

#content-window {
	position:fixed;
	right:0px;
	height:70%;
	width: 55%;
	background: rgba(21,130,91, 0.7);
	z-index:100000;
	display:none;
	border: solid 2px #289C77;
	border-right:none;
	margin-top: 40px;
	color:#fff;
	padding: 20px;
}

.marker-content {
	padding: 10px;
}


#map-container {
	height: 100%;
	width: 100%;
}

#map-canvas { height: 100% }

#form-container {
	margin: 10px 20px;
	float:left;
	min-width: 400px;
}
/*
input, textarea {
	width: 100%;
}

input[type="submit"]
{
  height: 80px;
  padding: 200px;
}
*/

#nav-margin {
	margin-top: 60px;
}

.alert {
	margin: 0;
	padding: 0;
}


#map-container-form {
	height: 100%;
	width: 80%;
}
#map-canvas-form { height: 100% }

#icon {
	background:red;
	height:30px;
	width:30px;
	border-radius: 15px;
}

ul {
	margin:0 auto;
	padding:10px;
	max-width:900px;
}
nav {
	position: fixed;
	width: 100%;
	height: 60px;
	left: 0;
	top: 0;
	z-index: 100;
	margin:0;
	/*padding:3px;*/
	background: #000;
	border-bottom: solid 2px #fff;
}

li {
	display:inline-block;
	background: #fff;
	padding:8px;
	min-width: 80px;
	margin-left: 20px;
	border-radius:5px;
	text-align:center;

}

a {
	color: #fff;
}

nav a {
	text-decoration:none;
	color: #000;
	font-size:14px;
}



